.cover {
    min-width: 1184px;
    min-height: 740px;
    margin-top: 92px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1279px) {
    .cover {
      min-width: 1024px;
      min-height: 640px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .cover {
      min-width: 768px;
      min-height: 480px;
      margin-top: 90px;
      margin-bottom: 88px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .cover {
      min-width: 320px;
      min-height: 200px;
      margin-top: 66px;
      margin-bottom: 64px;
    }
  }
