.cover__title {
    display: block;
    max-width: 560px;
    max-height: 162px;
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 76px;
    text-align: center;
    margin-block-end: 32px;
    margin-block-start: 0;
    z-index: 2;
}

@media screen and (max-width: 767px) {
    .cover__title {
      max-width: 288px;
      max-height: 77px;
      font-size: 32px;
      line-height: 35px;
      margin-block-end: 16px;
    }
  }
